NEXT_PUBLIC_SUPABASE_URL=https://zmeueblvjrqugcjpybsy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InptZXVlYmx2anJxdWdjanB5YnN5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NzM3NDcsImV4cCI6MjA4OTQ0OTc0N30.rt_qv1SzQOuqUMed_0e3_-MhbHW2hmJUxD6W65UwL-k
